body{
    width: 100%;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:white;
}

/****************************************HEADER********************************************************/
#menu_superior{    
    margin: 0px;
}
/****************************************CONTENEDOR*****************************************************/
#contenedor{
    margin-top: 50px;
}
/******************************************MENU LATERAL*************************************************/

#menu_lateral {
    
    position: fixed;
    width: 250px;
    height: 100%;
    background: #2b2e33; /*color del fondo del menu lateral;*/
    color: #fff; /*color del texto del menu lateral*/
    transition: all 0.3s;
    list-style: none;
    z-index: 1;
    
}

#menu_lateral .logo {
  background-color: #191a1e;
  line-height: 8vh; /*altura de la fila*/
  font-size: 18px;
}

#menu_lateral li {
  line-height: 38px; /*altura de la fila*/
  text-indent: 20px; /*sangría de texto con respecto al primer objeto*/
  padding-left: 0px;
  border-bottom: 1px solid #23282e;
}
  
/*atributos para el texto de cada item del menu: color, tamaño*/
#menu_lateral li a {

  display: block;
  text-decoration: none;
  padding-left: 10px;
  color: #fff;
}


#menu_lateral li a:hover {
  /*background-color: #4f5b69;*/
  background-color: #309db4;
  /*border-left: 3px solid #d19b3d;*/
}

#menu_lateral .sub-menu li {
  background-color: #191a1e;
  border: none;
  line-height: 38px;
  border-bottom: 1px solid #23282e;
  
}
#menu_lateral .sub-menu li a::before {
  content: '\f054'; /*flecha lateral*/
  display: block;
  position: absolute;
  left: 20px;
  font-family: FontAwesome;
  font-size: 10px;

  
}

#menu_lateral .sub-menu li a {
  padding-left: 35px;
}

#menu_lateral .sub-menu li a:hover {
  background-color: #020203;
  border-left: 3px solid #d19b3d;
  padding-left: 36px;
}

#menu_lateral .sub-menu li a[aria-expanded="false"]::before{
    content: '\f078';  /*flecha para abajo*/
    display: block;
    position: absolute;
    right: 20px;
    font-family: FontAwesome;
    font-size: 10px;
}

#menu_lateral .sub-menu li a[aria-expanded="true"]::before {
    content: '\f077'; /*flecha para arribar*/
    display: block;
    position: absolute;
    right: 20px;
    font-family: FontAwesome; 
    font-size: 10px;
}

/************************************CONTENIDO******************************************************/

#contenido{
    margin-left: 250px;
    padding: 50px;
    position: relative;
}

@media(max-width:760px){
    
    #contenido{
        margin: 0px;
        padding: 50px;
    }
    #menu_lateral{
        display: none;
    }
    
}
